<p> User Works </p>
<h1> HI i am the admin lte in angular Hay there </h1>


<mk-box header="Users List" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>activatedTabIndex</td>
      <td>number</td>
      <td>0</td>
      <td>Defines if the tab index to be activated on load.</td>
    </tr>
    <tr>
      <td>header</td>
      <td>string</td>
      <td>null</td>
      <td>
        Header text of the tabs.<br/>
        <em>
          Note: You can use &lt;mk-tabs-header&gt; for HTML header.
        </em>
      </td>
    </tr>
    <tr>
      <td>headerStyleClass</td>
      <td>string</td>
      <td>header pull-left</td>
      <td>Style class of the the header.</td>
    </tr>
    <tr>
      <td>navStyleClass</td>
      <td>string</td>
      <td>nav nav-tabs</td>
      <td>Style class of the navigation bar.</td>
    </tr>
    <tr>
      <td>contentStyleClass</td>
      <td>string</td>
      <td>tab-content</td>
      <td>Style class of the content.</td>
    </tr>
    <tr>
      <td>styleClass</td>
      <td>string</td>
      <td>nav-tabs-custom</td>
      <td>Style class of the component.</td>
    </tr>
    <tr>
      <td>tabsColor</td>
      <td>string</td>
      <td>null</td>
      <td>Defines the tabs menu color.</td>
    </tr>
    </tbody>
  </table>
</mk-box>
